body {
    background-color: lightblue;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

h1,h2,h3{
    color:black
}

summary{
    color:palevioletred;
    font-weight:bold;
    font-size:larger;
}

.container{
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    border: 3px solid rgb(167, 81, 167);
}

p a{ 
    margin-left: 50px;
    color:seagreen;
    font-weight:bold;
    text-decoration:none;
}

p a:hover{
    color: lightcoral
    text-decoration:underline;
}