/* General page Styles */
body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #cf04f7;
  margin: 0;
  padding: 0;

}

h2 {
  color: #00ff2f;
  text-align: center;
  margin-top: 20px;
}