<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Business Portal</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" type="image/x-icon" href="../../favicon.ico" />
  </head>
  <body>
    <header>Lares Landscaping</header>
    <main>
      <div class="column-card">
        <h2>Learn <span class="tooltip">HTML<span class="tooltiptext">HyperText Markup Language</span></span></h2>
      </div>
    </main>
   
      </h2>
    </div>
  </body>
  <p><a href="../../index.html">Home</a></p>
</html>
